.login_in_olx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  z-index: 9999;
}

.login_yourself {
  position: relative;
  background-color: white;
  width: 30%;
  height: auto;
  border-radius: 4px;
}

.slider_for_olx {
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.login_slides {
  margin: 10px 40px;
}

.login_slides img {
  width: auto;
  height: 25vh;
}

.login_slide_content {
  font-size: 13px;
  width: 250px;
}

.slider_label {
  display: flex;
  justify-content: center;
}

.label_item {
  margin: 30px 11px;
}

.label_item label {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.slider_buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  margin: 0 10px;
}

.slider_buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

.left_icon,
.right_icon {
  font-size: 40px !important;
}

.left {
  position: absolute;
  left: 20px;
}

.right {
  position: absolute;
  right: 0px;
}

.login_authentication {
  display: flex;
  justify-content: center;
  text-align: center;
}

.login_authentication button {
  background: none;
  border: 2px solid #002f34;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0;
  padding: 10px 70px;
  border-radius: 4px;
  color: #002f34;
  cursor: pointer;
}

.login_authentication button:hover {
  border-width: 5px;
}

.authentication_button svg {
  vertical-align: middle;
  font-size: 40px;
  margin: 0 10px;
  fill: #002f34;
}

.personal_information,
.privacy_policy {
  text-align: center;
  font-size: 13px;
  margin: 20px 20px;
}

.close_login {
  position: relative;
}

.user_close {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  right: 0;
  background: none;
  border: none;
}

.close_icon {
  font-size: 40px !important;
}
