.item {
  position: relative;
  top: 100px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}

.image_details,
.item_price,
.seller_description,
.google_location {
  position: relative;
  border-radius: 5px;
  border: 1px solid gainsboro;
}

.image_details {
  padding: 0 10px;
}

.item_image {
  width: 100%;
  height: 400px;
  background-color: black;
  position: relative;
  border-radius: 5px;
}

.item_image img {
  object-position: center;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.item_image_section {
  width: 67%;
  padding: 0 10px 0 10px;
}

.item_seller_section {
  width: 33%;
}

.item_price {
  padding: 20px !important;
}

.open_footer {
  position: relative;
  top: 200px;
}

.details {
  padding: 10px 0;
}

.details h2,
.description h2 {
  padding: 0 0 10px 0;
}

.dtail_list {
  display: flex;
  flex-wrap: wrap;
}

.detail_item {
  padding: 0 0 10px 0;
}

.detail_item span:nth-child(1) {
  color: rgba(0, 0, 0, 0.5);
}

.detail_item span:nth-child(2) {
  padding: 0 100px;
}

.description {
  padding: 10px 0;
}

.share_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item_place_date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}

.share_icon,
.item_like {
  position: absolute;
  cursor: pointer;
  right: 20px;
}

.share_icon {
  right: 60px;
}

.unlike_item {
  cursor: pointer;
}

.seller_description {
  padding: 20px;
}

.seller_photo {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.seller_photo img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.seller_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.go_to_profile {
  background: none;
  border: none;
  cursor: pointer;
}

.profile_icon {
  font-size: 40px !important;
}

.personal_seller_info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0 0 0;
}

.seller_para {
  margin: 0 0 0 10px;
}

.chat_button {
  text-align: center;
  margin: 10px 0 0 0;
}

.chat_button button {
  width: 100%;
  height: 48px;
  background: none;
  border: none;
  color: white;
  background-color: #002f34;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.chat_button button:hover {
  border: 5px solid #002f34;
  font-weight: 600;
  color: #002f34;
  background-color: white;
}

.phone_number {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}

.seller_phone {
  margin: 0 10px 0 0;
}

.seller_number_show {
  display: none;
}

.show_number {
  margin: 0 0 0 10px;
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.google_location {
  padding: 10px;
}

.posted_heading {
  margin: 0 0 20px 0;
}

.posted_location {
  margin: 0 0 20px 0;
}
