.search_card {
  position: relative;
  background-color: white;
  width: 18rem;
  height: auto;
  padding: 10px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.card_image figure {
  position: relative;
  width: 100%;
  height: 20vh;
}

.card_image figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.heart {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  z-index: 99;
  cursor: pointer;
}

.card_content {
  margin: 20px 0 0 0;
}

.price {
  font-size: 20px;
  font-weight: 800;
  margin: 0 0 20px 0;
}

.card_para {
  height: 20px;
  overflow: hidden;
}

.card_date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 30px 0 0 0;
}

.card_date p {
  font-size: 11px;
}

#border {
  border: 1px solid black;
}
