.go_to_top {
  position: fixed;
  top: 90px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 9999;
}

.top_icon {
  vertical-align: middle;
  font-size: 30px !important;
}

.top_button {
  background: white;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  font-size: 15px;
  border-radius: 50px;
  padding: 8px 25px;
  cursor: pointer;
  display: none;
}

.top_button.block {
  display: block;
}
