.user_loged_in {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.user_photo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.photo_url {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
}

.user_photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

.user_panel {
  vertical-align: middle;
  font-size: 40px !important;
}

.notification_icon,
.chat_icon {
  font-size: 30px !important;
}

.chat_with_olx,
.notification {
  cursor: pointer;
  margin: 0 10px 0 0;
}
